* {
  box-sizing: border-box;
}

/* Style the header */
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  color: inherit;
  background-color: #eee;
  text-align: center;
}

/* Create two equal columns that floats next to each other */
.box {
  float: left;
  width: 50%;
  padding: 25px;
  color: white;
  text-align: center;
}

/* Clear floats after the columns */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  padding: 10px;
  text-align: center;
}
